form {
    flex-direction: column;
    display: flex;
    width: 50%;
    margin: auto;
}

input {
    background-color: rgb(226, 198, 43);
}

#a1 {
    width: 40%;
    background-color: aqua;
    margin: auto;
}

#a1:hover {
    background-color: beige;
    cursor: pointer;
}

#a2{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#a3{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}